.table>table{
font-size:90%;
margin:auto;
outline-offset: 0px;
white-space:nowrap;
table-layout:fixed;
text-align:left;
border-collapse:collapse;
display:table;
}
.table thead
,.table .hiddenHead{
font-weight:700;
}
.table .selectedRow{
color:hsl(0,0%,95%);
background-color:hsla(0,0%,0%,.5) !important;
border-radius: 3px;
}
.table tbody tr{
cursor: pointer;
}
.table tbody tr:nth-child(odd){
background-color:hsla(0,0%,0%,.13);
}
.shorten{
display: inline-block;
max-width:23em;
}
.table .hiddenInput{
display: none;
}

/*Mobile*/
.table > table {
width: 100%;
}
.table thead td{
padding-left: 0px;
}
.table td{
display: block;
padding: 0 2px;
height: 1.7em;
}
.table tbody{
display: block;
}
.table thead
,.table tbody tr{
display: inline-block;
}
.table tbody tr{
padding: 0 2px;}

.table tbody td {
overflow:hidden;}

.table tr{
max-width: 8em;
}
.table thead{
margin-right: 3px;
float: left;
}
.table tbody{
max-height: none;
overflow: auto;
overflow-y: hidden;
}
.table .hiddenHead{
display: none;
}
#edit input:not([type=submit]):not([type=checkbox]){
text-align:center;
width:40%;
}
#users table label{
min-height: 20px;
}
@media print, (min-width:870px){
	/*Desktop*/
	.table > table {
	width: auto;
	}
	.table thead{
	line-height: 1.5em;
	float:none;
	display:table-row-group;
	}
	.table thead tr{
	display:table-row;
	}
	.table thead td{
	display:inline-block;
	padding-left: 5px;
	}
	.table tbody td{
	padding: 5px;
	}
	.table tbody{
	display: inline-block;
	max-height: 65vh;
	overflow: auto;
	overflow-x: hidden;
	padding-right: 20px;
	}
	.table tbody tr{
	display: table-row;
	}
	.table tbody td{
	display: table-cell;
	vertical-align: middle;
	text-overflow:ellipsis;
	overflow:hidden;
	max-width: 9em;
	}
	.table .hiddenHead{
	display: table-row;
	visibility: hidden;
	}
}

@media (max-width:665px){
	#edit input:not([type=submit]){
	width:80%;
	}
}

@media print{
	body>section{
	margin-bottom:0;
	}
	p{
	display:none;
	}
}